<div id="container">

    <form [formGroup]="myForm" (ngSubmit)="search($event)">
        <!-- Ciudad -->
        <mat-form-field class="margin" color="accent" appearance="fill">
            <mat-label>
                Ingrese Ciudad
                <mat-icon class="icon" aria-label="search icon" fontIcon="search"></mat-icon>
            </mat-label>
            <input matInput autocomplete="off" formControlName="city">
        </mat-form-field>

        <!-- Tipo Cerveza -->
        <mat-form-field class="margin" color="accent" appearance="fill">
            <mat-label>Tipo Cerveza</mat-label>
            <mat-select>
                <mat-option *ngFor="let type of listTypeBrewerys" [value]="type.value">
                    {{type.viewValue | uppercase}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Nombre Cerveza -->
        <mat-form-field class="margin" color="accent" appearance="fill">
            <mat-label>Nombre Cerveza</mat-label>
            <mat-select>
                <mat-option *ngFor="let name of listNameBrewerys" [value]="name.value">
                    {{name.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Botón -->
        <button [disabled]='isDisabledBtn' mat-button color="accent">
                <span style="color: white;">
                    Buscar
                </span> 
        </button>
    
    </form>
    
    <div class="list">

        <!-- Mensaje -->
        <p *ngIf='isEmpyBrewerys'>
            <small>Aquí se listarán las cervezas encontradas.. </small>
        </p>

        <!-- Imprimo Brewerys -->
        <mat-list-item *ngFor="let brewery of listPrintBrewerys">
            <app-cerveza [brewery]=brewery></app-cerveza>
        </mat-list-item>

    </div>

</div>

