
#container{
    display: inline-block;
}

.card{
    max-width: 200px;
    background-color: transparent;
}

.margin {
    margin-right: 1vh;
    margin-bottom: 1vh;
}

.title{
    font-size: small;
    font-style: italic;
}

