<div id="container">

    <!--Card Cerveza-->
    <a href="#" style="text-decoration: none;">
        <mat-card class="card margin">
                <mat-card-title class="title">
                    <span>
                        {{brewery.id}}
                    </span>
                </mat-card-title>
                <mat-card-subtitle>
                    <span>
                        {{brewery.name}}
                    </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <span>
                        {{brewery.brewery_type|uppercase}}
                    </span>
                </mat-card-subtitle>
            <img mat-card-image src="https://images.squarespace-cdn.com/content/v1/5d360add1438f10001b1ede6/1605800215450-EVWSBDXGXEGNP81SYOYB/Beer+Flight.jpg" alt="beer photo">
        </mat-card>
    </a>
    
</div>
